<!-- no need to destructure the 'post' object here because you never defined what 'post' should refer to. in homepage file you declared a 'post' through #each helper but you don't need this here
so no need to write post.title or post.post_url - you can simply pass the properties as they are -->

<article class="post">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{format_url post_url}})</span>
    </div>

    <div class="meta">
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}} |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>